.Header-60 {
  color: var(--darkblue);
  height: 60px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Header-60 svg {
  position: absolute;
  z-index: 100;
}

.Header-80 {
  height: 80px;
}

.Header__heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 150;
}

.Header__subheading {
  color: var(--midblue);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
