.Journal-form__heading {
  color: var(--darkblue);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.Journal-form__subheading {
  color: var(--darkblue);
  font-size: 14px;
  font-weight: 600;
}

.Journal-form__rating {
  display: flex;
  justify-content: space-around;
}

.Journal-form__comprehension {
  display: flex;
  justify-content: space-between;
}

.Journal-form__input {
  border-radius: 4px;
  border: solid 1px var(--lightblue);
  color: var(--midblue);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 20px;
  resize: none;
}

textarea.Journal-form__input {
  height: 125px;
}

.Journal-form__button-wrapper {
  grid-template-columns: 1fr 1fr;
}

.Journal-form:after {
  content: '';
  display: block;
  height: 80px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
