.Students__heading {
  color: var(--darkblue);
  font-size: 14px;
  font-weight: 600;
}

.Students__list {
  border-radius: 6px;
  border: 1px solid var(--lightblue);
  position: relative;
}

.Students__pairing::after {
  content: url(./assets/Plus.svg);
  height: 20px;
  left: calc(50% - 10px);
  position: absolute;
  top: calc(50% - 10px);
}

.Students__list > li:not(:first-child) {
  border-top: 1px solid var(--lightblue);
}

.Students__list > li {
  color: var(--midblue);
  font-size: 16px;
  font-weight: 600;
  padding: 18px 0;
  text-align: center;
}

.Students__list > *:last-child:after {
  content: '';
  display: block;
  height: 80px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
